/* src/App.css */
.App {
  text-align: left; /* Align text to the left */
  background: radial-gradient(
    circle at 50% 50%,
    #0b0991,
    #000f82,
    #001172,
    #001262,
    #001152,
    #000e43,
    #020933,
    #020424
  );
  color: #ffffff; /* Light text color */
  height: 100vh; /* Full height */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  padding: 10px; /* Add padding to the container */
  overflow: hidden; /* Hide anything that overflows during animation */
  position: relative; /* Position relative for loader to work */
}
