/* GLOBAL CONFIG RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px); /* Adjust height to account for Navbar */
}

.box {
  transform-style: preserve-3d;
  animation: animate 7s ease-in-out infinite alternate;
}

span {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5) 90%,
    transparent
  );
  text-transform: uppercase;
  line-height: 0.76em;
  position: absolute;
  color: #fff;
  font-size: 3.5em;
  white-space: nowrap;
  font-weight: bold;
  padding: 0px 10px;
  transform-style: preserve-3d;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(109px);
}

i {
  font-style: initial;
}

i:nth-child(1) {
  color: #9af5ff;
}

i:nth-child(2) {
  color: #c4c15c;
}

@keyframes animate {
  0% {
    transform: perspective(500px) rotateX(0deg) rotate(5deg);
  }
  100% {
    transform: perspective(50px) rotateX(360deg) rotate(5deg);
  }
}
